<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lv.animelistapp.mapper.UserMapper">


    <insert id="registerUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO lval_users (username,password,email)
        VALUES (
            #{username},
            #{password},
            #{email} )
    </insert>

    <resultMap id="UserDetailMap" type="lv.animelistapp.model.User">
        <result column="id"         property="id"       jdbcType="DECIMAL"/>
        <result column="username"   property="username" jdbcType="VARCHAR"/>
        <result column="password"   property="password" jdbcType="VARCHAR"/>
        <result column="email"      property="email"    jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserDetails" resultMap="UserDetailMap" parameterType="String">
        SELECT * FROM lval_users WHERE username = #{username}
    </select>

    <resultMap id="RoleMap" type="lv.animelistapp.model.UserRoles">
        <result column="id"     property="id"   jdbcType="DECIMAL"/>
        <result column="role"   property="role" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserRolesById" resultMap="RoleMap" parameterType="long">
        SELECT rls.id, rls.role
        FROM lval_user_roles urls,
             lval_roles rls
        WHERE urls.role_id = rls.id
              and urls.user_id = #{userId}
    </select>
</mapper>